@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Assets/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/Content/bootstrap-grid.css" rel="stylesheet" />
    <script src="~/Assets/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Assets/Scripts/bootstrap.js"></script>
    <title>Admin</title>
</head>
<body>
    <div style="padding: 40px 85px;">
        <div>
            <p>Only Admin!</p>
        </div>
    </div>
</body>
</html>
